Huge.Prerender.Business\obj\Debug*/

Huge.Prerender.Business\obj\Debug*/
Huge.Prerender.Business\obj\Debug*/
Huge.Prerender.Data\bin\Debug*/
Huge.Prerender.Scheduler/obj/
Huge.Prerender.Business/obj/
Huge.Prerender.Data/bin/
Huge.Prerender.Scheduler/bin/
